* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0 0;
}
.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    margin: 0;
    position: relative;
}
/*.sliding-middle-outcast:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left:50%;*/
/*    height: 2px;*/
/*    width: 0;*/
/*    background-color: transparent;*/
/*    transition: all .2s;*/
/*}*/
/*.sliding-middle-outcast:hover:after {*/
/*    width: 40%;*/
/*    left: 30%;*/
/*    background-color: white;*/
/*}*/
.flex {
     display: flex;
     flex-flow: row;
     justify-content: center;
 }
.logo {
    flex-grow: 2;
}
ul li a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-family: Arial;
}
.hero {
    /*background-image: url("images/hero-image.jpg");*/
    /*background-size: cover;*/
    /*padding: 20px 0 700px 0;*/
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
    /*background-repeat: no-repeat;*/
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}
.nav-pad {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 0;
}
.flex1 {
    display: flex;
    flex-direction: column;
}
h3 {
    font-size: 2em;
}
p {
    font-size: 16px;
}
.flex3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.img {
    width: 350px;
    max-height: 250px;
}
.center {
    text-align: center;
    font-size: 25px;
}
.breakfast {
    background-image: url("images/breakfast-ideas.jpg");
    height: 250px;
    width: 350px;
    background-position: center center;
    background-size: cover;

}
.lunch {
    background-image: url("images/vegetarian-ideas.jpg");
    height: 250px;
    width: 350px;
    background-position: center center;
    background-size: cover;

}
.dinner{
    background-image: url("images/cold-weather-dinners.jpeg");
    height: 250px;
    width: 350px;
    background-position: center center;
    background-size: cover;
}
.grey-background {
    background-color: darkgrey;
}
.flex4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;

}
.fajita {
    background-image: url("images/fajita-peppers.jpeg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
}
.muffin {
    background-image: url("images/muffins.jpeg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
}
.eggplant {
    background-image: url("images/eggplant-parmesan.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
}
.wings {
    background-image: url("images/teriyaki-chicken.jpeg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
}
.recipes {
    background-color: #fffaeb;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
}
h5 {
    font-size: 20px;
    text-align: center;
}
h3 {
    margin-left: 70px;
    margin-right: 70px;
}
.sandwich {
    background-image: url("images/sandwich.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    border: 10px solid darkgrey;
}
.pizza {
    background-image: url("images/pizza.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    border: darkgrey solid 10px;
}
.pasta {
    background-image: url("images/pasta.jpg");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    border: 10px darkgrey solid;
}
.flex5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.margin {
    margin: 20px 70px 10px 70px;
}
.pad {
    padding-top: 20px;
}
.burger {
    background-image: url("images/burger-background.jpg");
    background-size: cover;
    padding: 20px 0 700px 0;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}
.title {
    background-color: white;
    font-size: 40px;
    position: absolute;
    top: 80%;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1;
}
.time {
    background-color: darkgrey;
    padding: 20px 70px;
}
.level {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: left;
    /*padding: 10px 20px 10px 0;*/
    margin: 0 20px 0 0;
}
span {
    font-weight: bold;
}
.padding {
    padding: 5px 20px;
}
h1 {
    font-size: 40px;
    font-weight: bold;
}
.align {
    text-align: center;
}
button {
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 15px;
    background-color: darkred;
    color: white;
}
.print {
    color: black;
    font-size: 20px;
}
.dry {
    background-color: #d9d9d9;
    text-align: center;
    margin: 20px 70px;
    padding: 30px;
    font-weight: bold;
    color: #999999;
}
.margin2 {
    margin: 20px 70px 20px 70px;
}
.list-title {
    font-size: 20px;
    font-weight: bold;
}
.list-style {
    list-style-type: none;
}
#page {
    max-width: 1500px;
    margin: 0 auto;
}
.ingredients {
    width: 500px;
}
video {
    position: relative;
    z-index: -1;
}
.left {
    position: absolute;
    left: 30px;
    display: flex;
    justify-content: center;
}
